<h1>Pagina di prova</h1>
<p>Questa è una prova</p>

@*{var theMonth=DateTime.Now.Month} *@
    @*codice c# integrato con html*@

@*<p>Valore numerico mese corrente: @theMonth</p>*@

@*questo per commento quando cè codice html e C#*@